@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

.box{
    display: inline-block;
    margin:1.2rem;
}
.shows{
    margin:23px;
}
.home h1{
    margin-left:4.3rem;
    margin-bottom:0rem;
    font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 40px;
	color: #344055;
}